SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=

VITE_SUPABASE_PROJECT_ID=
VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=

DEMO_ADMIN_EMAIL=admin@softcom.com.br
DEMO_ADMIN_PASSWORD=Prospectamos@2026
DEMO_ADMIN_NAME=Administrador Softcom

EVOLUTION_API_URL=
EVOLUTION_BASE_URL=
EVOLUTION_API_KEY=
EVOLUTION_INSTANCE=leadflow
EVOLUTION_DEFAULT_INSTANCE=leadflow
EVOLUTION_WEBHOOK_URL=http://host.docker.internal:5173/api/webhooks/evolution
EVOLUTION_WEBHOOK_SECRET=

WHATSAPP_BOT_ENABLED=false
WHATSAPP_BOT_MODE=off
