SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=

VITE_SUPABASE_PROJECT_ID=
VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=

DEMO_ADMIN_EMAIL=admin@softcom.com.br
DEMO_ADMIN_PASSWORD=Prospectamos@2026
DEMO_ADMIN_NAME=Administrador Softcom

EVOLUTION_API_URL=
EVOLUTION_API_KEY=
EVOLUTION_INSTANCE=leadflow
